div#title {
  background-color: black;
  height: 70px;
}

h3 {
  line-height: 70px;
  color: blanchedalmond;
  text-align: center;
  margin: auto;
}

div#form {
  margin: auto;
  margin-top: 100px;
  height: 400px;
  width: 400px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.316);
  border-radius: 5%;
}

div#name {
  width: 380px;
  margin: auto;
  line-height: 80px;

  text-align: center;
}

div#surname {
  width: 380px;
  margin: auto;
  line-height: 80px;
  text-align: center;
}

div#email {
  width: 380px;
  margin: auto;
  line-height: 80px;
  text-align: center;
}

div#age {
  width: 380px;
  margin: auto;
  line-height: 80px;
  text-align: center;
}

div#buttons {
  margin-top: 20px;
  text-align: center;
}

a#create {
  margin-right: 10px;
}

div#passwordbox {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.316);
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 300px;
  border-radius: 5%;
}

div#password {
  line-height: 230px;
  width: 300px;
  margin: auto;
}

div#loginname {
  line-height: 100px;
  width: 300px;
  margin: auto;
}

div#loginpassword {
  line-height: 50px;
  width: 300px;
  margin: auto;
}

div#loginbox {
  margin: auto;
  margin-top: 100px;
  height: 250px;
  width: 400px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.316);
  border-radius: 5%;
}

table {
  line-height: 40px;
  margin: auto;
  margin-top: 100px;
  width: 700px;
}

a#email {
  margin-right: 50px;
}

a#edit {
  margin-right: 50px;
}

hr {
  margin-top: 50px;
}

div#wellcome {
  text-align: center;
}

/* buttons */

a {
  margin-right: 10px;
}

a#headerLogin {
  background-color: black;
}

button#create {
  background-color: black;
}

a#returnIndex {
  background-color: black;
}

a#returnWellcome {
  background-color: black;
}

button#update {
  background-color: black;
}

div#buttons :hover {
  background-color: white;
  color: black;
}

a#create {
  background-color: black;
}

button#login {
  background-color: black;
}

button#password {
  background-color: black;
}

div#buttonsUser {
  text-align: center;
  margin-top: 50px;
}

a#email {
  background-color: black;
}

a#edit {
  background-color: black;
}

a#delete {
  background-color: black;
}

div#buttonsUser :hover {
  background-color: white;
  transition: 1s;
  color: black;
}

div#buttonpass {
  margin: auto;
  text-align: center;
}

div#buttonpass :hover {
  background-color: white;
  color: black;
}

div#returnIndex :hover {
  background-color: white;
  color: black;
}

button#send {
  background-color: black;
}

/* 
    TEXTAREA
*/

div#textEmail {
  text-align: center;
}

textarea#textEmail {
  margin-top: 40px;
  width: 390px;
  height: 150px;
}
